body{
margin:0;
font-family:Arial, sans-serif;
background:#f4f4f4;
}

header{
background:#004080;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#0066cc;
text-align:center;
padding:10px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

main{
max-width:1000px;
margin:auto;
padding:20px;
background:white;
}

img{
width:300px;
display:block;
margin:auto;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table, th, td{
border:1px solid #333;
}

th{
background:#0066cc;
color:white;
}

th, td{
padding:10px;
}

iframe{
display:block;
margin:auto;
margin-top:20px;
}

form{
display:flex;
flex-direction:column;
}

input, textarea{
margin-bottom:10px;
padding:10px;
}

button{
background:#0066cc;
color:white;
border:none;
padding:10px;
}

footer{
background:#004080;
color:white;
text-align:center;
padding:15px;
}
